<template>
  <div class="container">
    <article>
      <h1 class="display-3 fw-bold mb-1">{{ post.title }}</h1>
      <p class="lead fw-normal text-muted">
        <span v-if="post.authorName">Γράφει ο {{ post.authorName }} - </span>
        {{ date.getDate() }} {{ months[date.getMonth()] }}
        {{ date.getFullYear() }}
      </p>
      <Sharer :title="post.title" :slug="post.id" />
      <p v-if="post.note" style="font-size: 20px" class="text-muted my-3">
        <i class="fa-solid fa-info"></i> {{ post.note }}
      </p>
      <hr />
      <img
        :src="`https://47f1yzyj.directus.app/assets/${post.cover_image}`"
        :alt="description"
        class="img-fluid mb-2"
      />
      <Article :content="content" />
      <p style="font-size: 18px">Αναμένουμε τα σχόλιά σας στο Twitter!</p>
      <hr />
      <div class="d-flex flex-row justify-content-between align-items-center">
        <p class="m-0 author-name" v-if="post.authorName">
          {{ post.authorName }}
        </p>
        <p class="m-0" v-else>Hellenic Defence Net</p>
        <Sharer :title="post.title" :slug="post.id" />
      </div>
    </article>
  </div>
</template>

<script setup>
import Article from "~~/components/Article.vue";

const route = useRoute();
const { getItemById } = useDirectusItems();

const { $markdown } = useNuxtApp();

const content = ref("");

const post = await getItemById({ collection: "Articles", id: route.params.id });
if (!post) throwError("No article found, 404");
onMounted(() => {
  content.value = $markdown.render(post.markdown);
});

const months = [
  "Ιανουαρίου",
  "Φεβρουαρίου",
  "Μαρτίου",
  "Απριλίου",
  "Μαίου",
  "Ιουνίου",
  "Ιουλίου",
  "Αυγούστου",
  "Σεπτεμβρίου",
  "Οκτωβρίου",
  "Νοεμβρίου",
  "Δεκεμβρίου",
];

const date = ref(new Date(post.created_at));

useHead({
  title: `${post.title} - Hellenic Defence Net`,
  link: [
    {
      rel: "canonical",
      href: `https://hellenicdefence.net/articles/${post.id}`,
    },
  ],
  meta: [
    {
      name: "description",
      content: post.description,
    },
    {
      name: "author",
      content: post.authorName ? post.authorName : "Hellenic Defence Net",
    },
    {
      property: "og:url",
      content: `https://hellenicdefence.net/articles/${post.id}`,
    },
    {
      property: "og:type",
      content: "article",
    },
    {
      property: "og:image",
      content: `https://47f1yzyj.directus.app/assets/${post.cover_image}`,
    },
    {
      property: "og:image:alt",
      content: post.description,
    },
    {
      property: "og:title",
      content: `${post.title} - Hellenic Defence Net`,
    },
    {
      property: "og:description",
      content: post.description,
    },
    {
      property: "twitter:title",
      content: `${post.title} - Hellenic Defence Net`,
    },
    {
      property: "twitter:description",
      content: post.description,
    },
    {
      property: "twitter:card",
      content: "summary_large_image",
    },
    {
      property: "twitter:url",
      content: `https://hellenicdefence.net/articles/${post.id}`,
    },
    {
      property: "twitter:image",
      content: `https://47f1yzyj.directus.app/assets/${post.cover_image}`,
    },
    {
      property: "twitter:image:alt",
      content: post.description,
    },
  ],
});
</script>