<template>
  <div class="container">
    <h1 v-if="error.statusCode === '404'">Η σελίδα δεν βρέθηκε!</h1>
    <div v-else>
      <h1>Σφάλμα!</h1>
      <p class="lead fw-normal">Παρακαλώ δοκιμάστε αργότερα</p>
    </div>
    <NuxtLink to="/" class="btn btn-outline-primary">Αρχική</NuxtLink>
  </div>
</template>
  
<script setup lang="ts">
defineProps({
  error: Object,
});
</script>
  