<template>
  <div class="container">
    <h1 class="display-3 fw-bold mb-0">Όλα</h1>
    <hr />
    <p class="lead fw-normal text-muted">Σελίδα 1</p>
    <div
      class="
        row
        row-cols-1
        row-cols-xxl-2
        row-cols-xl-2
        row-cols-lg-1
        row-cols-md-1
        row-cols-sm-1
        g-4
      "
    >
      <div class="col" v-for="post in posts" :key="post.id">
        <Card
          :title="post.title"
          :description="post.description"
          :image="post.cover_image"
          :slug="post.id"
        />
      </div>
    </div>
    <br />
    <br />
    <br />
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item" v-if="posts.length == 30">
        <NuxtLink :to="`/articles/all/2`" class="page-link"
          >Επόμενη &raquo;</NuxtLink
        >
      </li>
    </ul>
  </div>
</template>
    
    <script setup>
const route = useRoute();
const { getItems } = useDirectusItems();

const posts = await getItems({
  collection: "Articles",
  params: {
    filter: {
      visible: {
        _eq: true,
      },
    },
    limit: 30,
    page: 1,
    sort: "-created_at",
  },
});
</script>
    