<template>
  <div class="container">
    <h1 class="display-3 fw-bold mb-0">
      Συντάκτης <i>{{ username }}</i>
    </h1>
    <hr />
    <div>
      <p class="lead text-muted fw-normal" v-if="posts.length == 0">
        Δεν βρέθηκαν άρθρα.
      </p>
      <p class="lead text-muted fw-normal" v-else>
        Σελίδα {{ route.params.page }}
      </p>
      <div
        class="
          row
          row-cols-1
          row-cols-xxl-2
          row-cols-xl-2
          row-cols-lg-1
          row-cols-md-1
          row-cols-sm-1
          g-4
          mb-4
        "
      >
        <div class="col" v-for="post in posts" :key="post.id">
          <Card
            :title="post.title"
            :description="post.description"
            :image="post.cover_image"
            :slug="post.id"
          />
        </div>
      </div>
      <br />
      <br />
      <br />
      <ul class="pagination justify-content-center">
        <li class="page-item" v-if="parseInt(route.params.page) > 1">
          <NuxtLink
            :to="`/author/${route.params.username}/${
              parseInt(route.params.page) - 1
            }`"
            class="page-link"
            >&laquo; Προηγούμενη</NuxtLink
          >
        </li>
        <li class="page-item">
          <a class="page-link" href="#">{{ route.params.page }}</a>
        </li>
        <li class="page-item" v-if="posts.length == 30">
          <NuxtLink
            :to="`/author/${route.params.username}/${
              parseInt(route.params.page) + 1
            }`"
            class="page-link"
            >Επόμενη &raquo;</NuxtLink
          >
        </li>
      </ul>
    </div>
  </div>
</template>
  
      
    <script setup>
const route = useRoute();
const { getItems } = useDirectusItems();

const username = ref(route.params.username);

const posts = await getItems({
  collection: "Articles",
  params: {
    filter: {
      author: {
        username: {
          _eq: username.value,
        },
      },
      visible: {
        _eq: true,
      },
    },
    limit: 30,
    page: route.params.page,
    sort: "-created_at",
  },
});
</script>
      