<template>
  <div class="container">
    <h1 class="display-3 fw-bold mb-0">Επικοινωνία</h1>
    <hr />
    <div class="row">
      <div class="col-md" id="col-first">
        <p class="lead fs-4 fw-normal mb-1">
          <i class="fa-solid fa-envelope"></i> contact [at] hellenicdefence
          [dot] net
        </p>
        <i class="text-muted"
          >Για ευνόητους λόγους αποκρύπτουμε την πλήρη διεύθυνση. Αντικαταστήστε
          το <b>[at]</b> με <b>@</b> και το <b>[dot]</b> με <b>.</b> (τελεία)</i
        >
      </div>
      <div class="col-md">
        <p class="lead fs-4 fw-normal mb-1">
          <i class="fa-solid fa-location-dot"></i> Αθήνα, Ελλάδα
        </p>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-sm text-center mb-4">
        <h4 class="fw-600"><i class="fa-brands fa-twitter"></i> Twitter</h4>
        <a
          href="https://twitter.com/hellenicdefence"
          target="_blank"
          class="btn btn-outline-primary w-100"
          >@hellenicdefence</a
        >
      </div>
      <div class="col-sm text-center mb-4">
        <h4 class="fw-600"><i class="fa-brands fa-telegram"></i> Telegram</h4>
        <a
          href="https://t.me/hellenicdefence"
          target="_blank"
          class="btn btn-outline-primary w-100"
          >@hellenicdefence</a
        >
      </div>
      <div class="col-sm text-center mb-4">
        <h4 class="fw-600"><i class="fa-brands fa-linkedin"></i> LinkedIn</h4>
        <a
          href="https://www.linkedin.com/company/hellenic-defence-net"
          target="_blank"
          class="btn btn-outline-primary w-100"
          >@hellenicdefence</a
        >
      </div>
    </div>
    <h2 class="display-6 fw-500">Για την δημοσίευση άρθρων...</h2>
    <ul>
      <li>
        Στείλτε μας στην παραπάνω διεύθυνση email το κείμενο σε μορφή
        <strong>PDF</strong>
      </li>
      <li>
        Συμπεριλάβετε όλες τις φωτογραφίες σε ξεχωριστό φάκελο στα συνημμένα ή
        μέσω
        <a href="https://wetransfer.com" target="_blank" class="link"
          >WeTransfer</a
        >
      </li>
      <li>Ως όνομα συντάκτη αναγράψτε το πλήρες όνομά σας</li>
      <li>Μπορείτε να δημοσιεύσετε ανώνυμα αν αυτό επιθυμείτε</li>
      <li>
        Μπορείτε να παρουσιάσετε συνοπτικά τον εαυτό σας (σπουδές, επάγγελμα,
        εμπειρία κ.ο.κ.)
      </li>
      <li>Μπορείτε να παραπέμψετε σε δική σας ή τρίτη ιστοσελίδα</li>
      <li><strong>Δεν</strong> μπορείτε να τοποθετηθείτε πολιτικά</li>
      <li><strong>Δεν</strong> υπάρχει όριο λέξεων</li>
      <li>Για τυχόν διορθώσεις, επικοινωνήστε μαζί μας</li>
    </ul>
  </div>
</template>
      
<style scoped>
.col-md {
  padding: 1em;
}
</style>
<script setup>
</script>
      